{{#each this}}
  <div class='photo-card'>
    <a class='photo-card__full' href={{largeImageURL}}>
      <img class='photo-card__img' src={{webformatURL}} alt="{{tags}}" />
    </a>
    <ul class='photo-card__stats-list'>
      <li class='photo-card__stats-item'>
        <i class='material-icons'>
          thumb_up
        </i>
        <p class='photo-card__stats-text'>
          {{likes}}
        </p>
      </li>
      <li class='photo-card__stats-item'>
        <i class='material-icons'>
          visibility
        </i>
        <p class='photo-card__stats-text'>
          {{views}}
        </p>
      </li>
      <li class='photo-card__stats-item'>
        <i class='material-icons'>
          comment
        </i>
        <p class='photo-card__stats-text'>
          {{comments}}
        </p>
      </li>
      <li class='photo-card__stats-item'>
        <i class='material-icons'>
          cloud_download
        </i>
        <p class='photo-card__stats-text'>
          {{downloads}}
        </p>
      </li>
    </ul>
  </div>
{{/each}}